//* hover 放大動畫效果
.animation_hover:hover {
    transform: scale(1.02);
}
//* active 放大
.active_bigger:active {
    transform: scale(1.05);
}
//* 576 尺寸以下 文字左右空隙
p{
    @include xs {
        padding: 0  2rem;
    }
}

//* 背景圖
.banner::before {
    position: absolute;
    content: "";
    z-index: -1;
    background-image: url(https://storage.cloudconvert.com/tasks/a073a222-9341-4a63-8be4-1e3c74e56aa5/pexels-photo-835741.png?AWSAccessKeyId=cloudconvert-production&Expires=1648261018&Signature=dXuhS2bdKGOUU636V7apScLbdsw%3D&response-content-disposition=inline%3B%20filename%3D%22pexels-photo-835741.png%22&response-content-type=image%2Fpng);
    opacity: .5;
    width: 50%;
    @include xs {
        left: 5%;
        width: 90%;
        height: calc(44%);
        background-position:  60% 0%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    @include sm {
        width: 90%;
        left: 5%;
        height: calc(48.9%);
        background-position:  50%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    @include md {
        height: calc(45.9%);
    }
    @include lg {
        height: calc(46.9%);
        left: 5%;
    }
    @include xl {
        height: calc(47.8%);
    }
    @media (min-width: 1401px) {
        left: 0;
        width: 100%;
        height: calc(100%);
        top: 0;
        background-position:  0% 40%;
    }
}